*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background: white;
  padding: 45px 0 0 0;
}

.flex-container {
  padding: 0 20px 0 20px;
  display: flex;
}

h1 {
  font-size: 16px;
  font-weight: 700;
}

h2 {
  font-size: 12px;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-weight: 400;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}
