.navbar-container {
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
}

.nav-button {
  font-size: 1.25em;
}

.nav-link:link,
.nav-link:visited {
  color: #111;
}
